---
import type { ContentType } from "src/type.ts";
import { getContents } from "@lib/microcms";
import { groupByYearMonth } from "@util/groupBy";
import { fetchUsedCategoriesForContentType } from "@util/fetchCustomData";

import PostList from "@components/atoms/PostList.astro";

interface Props {
  type: ContentType["type"];
}

const { type } = Astro.props;

//data
const postsData = await getContents(type);
const categoriesList = await fetchUsedCategoriesForContentType(type);
const monthlyPostList = groupByYearMonth(postsData);

const title = type === "blog" ? "ブログ記事一覧" : "ニュース記事一覧";
---

<div>
  <h2>{title}</h2>
  <section>
    <PostList type={type} posts={postsData} />
  </section>
  <section>
    <h3><a href={`/${type}/category/`}>カテゴリ別アーカイブ</a></h3>
    <ul>
      {
        categoriesList.map((category) => (
          <li>
            <a href={`/${type}/category/${category.id}`}>{category.name}</a>
          </li>
        ))
      }
    </ul>
  </section>
  <section>
    <h3>月別アーカイブ</h3>
    <ul>
      {
        Object.keys(monthlyPostList).map((index) => (
          <li>
            <a href={`${type}/archive/${index}`}>
              {index.split("_")[0] + "年" + index.split("_")[1] + "月"}
            </a>
            （{monthlyPostList[index].length}）
          </li>
        ))
      }
    </ul>
  </section>
  <a href={`/`}>トップへ戻る</a>
</div>
