---
import type { ContentType } from "src/type";
import { fetchUsedCategoriesForContentType } from "@util/fetchCustomData";

interface Props {
  type: ContentType["type"];
}

const { type } = Astro.props;

// data
const categoriesList = await fetchUsedCategoriesForContentType(type);

const title = type === "blog" ? "ブログカテゴリ一覧" : "ニュースカテゴリ一覧";
---

<div>
  <h2>{title}</h2>
  <ul>
    {
      categoriesList.map((category) => (
        <li class={category.id}>
          <a href={`/${type}/category/${category.id}`}>{category.name}</a>
        </li>
      ))
    }
  </ul>
</div>
