---
import type { ContentType } from "src/type";
import { getContents, getCategories } from "@lib/microcms";

interface Props {
  type: ContentType["type"];
}

const { type } = Astro.props;

const postsData = await getContents(type);
const allCategories = await getCategories();

// 全ての記事からカテゴリーを抽出し、重複を除去
const uniqueCategories = [
  ...new Set(
    postsData.flatMap((post) => post.categories.map((category) => category.id)),
  ),
];

// 記事に使用されているカテゴリーのみをフィルタリング
const usedCategories = allCategories.filter((category) =>
  uniqueCategories.includes(category.id),
);

const title = type === "blog" ? "ブログカテゴリ一覧" : "ニュースカテゴリ一覧";
---

<div>
  <h2>{title}</h2>
  <ul>
    {
      usedCategories.map((category) => (
        <li class={category.id}>
          <a href={`/${type}/category/${category.id}`}>{category.name}</a>
        </li>
      ))
    }
  </ul>
</div>
