---
import type { ContentType, PostData } from "src/type";

import FormattedDate from "@components/atoms/FormattedDate.astro";
import CategoryList from "@components/atoms/CategoryList.astro";

interface Props {
  type: ContentType["type"];
  article: PostData;
}

const { type, article } = Astro.props;
---

<article class="article">
  <h2>{article.title}</h2>
  <p>
    公開日時：
    <FormattedDate date={article.publishedAt} />
  </p>
  <div>
    カテゴリ：
    <CategoryList type={type} categories={article.categories} />
  </div>
  <div set:html={article.content} />
</article>
